#root {
  overflow: hidden;
}

a:hover {
  text-decoration: none;
}

.cursor-pointer {
  cursor: pointer;
}

.img {
  cursor: pointer;
}

.plant-side-img .img {
  margin: 4px 0 4px 0;
  border-radius: 4px;
  cursor: pointer;
}

.plant-side-img .img img {
  width: 100%;
  height: 65px;
  -o-object-fit: cover;
     object-fit: cover;
}

.active,
.not-active {
  border-radius: 6px;
  margin: 0 5px;
  cursor: pointer;
  padding: 0;
}

.active a,
.not-active a {
  width: 100%;
}

.active {
  background-color: #285192;
  color: #f7eded;
}

.active a:hover {
  background-color: #130101;
  color: #f7eded;
}

.not-active {
  background-color: #f7eded;
  color: #285192;
}

.login-social-link {
  color: #285192;
}

.login-social-link i {
  cursor: pointer;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.login-social-link i:hover {
  color: #130101;
}

.s-cart-items .img {
  width: 120px;
  height: 120px;
  margin: 0 auto 0 auto;
}

.s-cart-items .img img {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .s-cart-items .img {
    width: 150px;
    height: 150px;
  }
}

@media screen and (min-width: 992px) {
  .s-cart-items .img {
    width: 180px;
    height: 180px;
  }
}

.s-cart-items .item .item-content {
  position: relative;
}

.s-cart-items .item .item-content .bb-remove {
  background-color: transparent;
  border: none;
}

.s-cart-items .item .item-content .item-content-menu {
  position: absolute;
  top: 0px;
  right: 10px;
}

.s-cart-items .item .item-content .item-content-menu .menu {
  position: relative;
  cursor: pointer;
}

.s-cart-items .item .item-content .item-content-menu .menu .menu-text {
  position: absolute;
  bottom: -25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: auto;
  visibility: hidden;
  background-color: black;
  color: #fafafa;
  white-space: nowrap;
}

.s-cart-items .item .item-content .item-content-menu .menu .menu-text::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.s-cart-items .item .item-content .item-content-menu .menu:hover .menu-text {
  visibility: visible;
}

.s-cart-items .summary {
  background-color: #f0f0f0;
}

@-webkit-keyframes animate-svg-fill {
  0% {
    fill: transparent;
  }
  100% {
    fill: #50a060;
  }
}

@keyframes animate-svg-fill {
  0% {
    fill: transparent;
  }
  100% {
    fill: #50a060;
  }
}

.svg-elem-1 {
  -webkit-animation: animate-svg-fill 0.1s linear both;
          animation: animate-svg-fill 0.1s linear both;
}

.svg-elem-2 {
  -webkit-animation: animate-svg-fill 0.1s linear 0.1s both;
          animation: animate-svg-fill 0.1s linear 0.1s both;
}

.svg-elem-3 {
  -webkit-animation: animate-svg-fill 0.1s linear 0.2s both;
          animation: animate-svg-fill 0.1s linear 0.2s both;
}

.svg-elem-4 {
  -webkit-animation: animate-svg-fill 0.1s linear 0.3s both;
          animation: animate-svg-fill 0.1s linear 0.3s both;
}

.svg-elem-5 {
  -webkit-animation: animate-svg-fill 0.1s linear 0.4s both;
          animation: animate-svg-fill 0.1s linear 0.4s both;
}

.animation {
  z-index: 3000;
  background-color: rgba(40, 40, 40, 0.9);
}

.animation section {
  margin-top: 250px;
}

.b-red {
  border: 1px solid red;
}

.b-green {
  border: 1px solid #40ff00;
}

.b-blue {
  border: 1px solid #1e00ff;
}

.b-yellow {
  border: 1px solid #eaff00;
}

.d-none-sm {
  display: none;
}

@media screen and (min-width: 576px) {
  .d-none-sm {
    display: block;
  }
}

.d-none-md {
  display: none;
}

@media screen and (min-width: 768px) {
  .d-none-md {
    display: block;
  }
}

.d-none-lg {
  display: none;
}

@media screen and (min-width: 992px) {
  .d-none-lg {
    display: block;
  }
}

.d-md {
  display: block;
}

@media screen and (min-width: 768px) {
  .d-md {
    display: none;
  }
}

.d-lg {
  display: block;
}

@media screen and (min-width: 992px) {
  .d-lg {
    display: none;
  }
}

.radio-label-container:hover input ~ .check-mark-span {
  background-color: #ccc;
}

.radio-label-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-label-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio-label-container input:checked ~ .check-mark-span:after {
  display: block;
}

.radio-label-container input:checked ~ .check-mark-span {
  background-color: #2196F3;
}

.radio-label-container .check-mark-span {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.radio-label-container .check-mark-span:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.radio-label-container .check-mark-span:after {
  content: "";
  position: absolute;
  display: none;
}

.input-disabled {
  cursor: not-allowed !important;
}

.link-underline-hover:hover {
  text-decoration: underline;
  cursor: pointer;
}

.address-list-container-open {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  background-color: rgba(34, 34, 34, 0.9);
  -webkit-animation: open 0.5s linear;
          animation: open 0.5s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
}

.address-list-container-open .container-address-list {
  width: 100%;
  height: 100%;
  background-color: #f4f3f3;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .address-list-container-open .container-address-list {
    width: 75%;
  }
}

@media screen and (min-width: 992px) {
  .address-list-container-open .container-address-list {
    width: 50%;
  }
}

.address-list-container-open .container-address-list .select-address:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.address-list-container-open .close-window i:hover {
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  color: #f45f5f;
  cursor: pointer;
}

.address-list-container-close {
  -webkit-animation: close 0.5s ease-in-out;
          animation: close 0.5s ease-in-out;
  display: none;
}

.address-container .address-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (min-width: 768px) {
  .address-container .address-list {
    min-height: 250px;
  }
}

.address-container .address-add .address-add-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .address-container .address-add .address-add-btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
  }
  .address-container .address-add .address-add-btn a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
  }
  .address-container .address-add .address-add-btn a i {
    font-size: 32px;
    margin: 5px;
  }
  .address-container .address-add .address-add-btn a span {
    font-size: 16px;
    margin: 5px;
  }
}

@-webkit-keyframes open {
  0% {
    width: 0%;
    height: 0vh;
  }
  25% {
    width: 25%;
    height: 25vh;
  }
  50% {
    width: 50%;
    height: 50vh;
  }
  75% {
    width: 75%;
    height: 75vh;
  }
  100% {
    width: 100%;
    height: 100vh;
  }
}

@keyframes open {
  0% {
    width: 0%;
    height: 0vh;
  }
  25% {
    width: 25%;
    height: 25vh;
  }
  50% {
    width: 50%;
    height: 50vh;
  }
  75% {
    width: 75%;
    height: 75vh;
  }
  100% {
    width: 100%;
    height: 100vh;
  }
}

.nursery-header,
.public-nursery-header {
  z-index: 100;
}

@media screen and (min-width: 992px) {
  .nursery-header,
  .public-nursery-header {
    z-index: 0;
  }
}

.nursery-header .cover-image,
.public-nursery-header .cover-image {
  position: relative;
}

.nursery-header .cover-image .image,
.public-nursery-header .cover-image .image {
  height: 25vh;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.nursery-header .cover-image .image img,
.public-nursery-header .cover-image .image img {
  width: 100%;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 100% 20%;
     object-position: 100% 20%;
}

.nursery-header .cover-image .image:hover,
.public-nursery-header .cover-image .image:hover {
  opacity: 0.9;
}

.nursery-header .cover-image .btn-upload-cover,
.public-nursery-header .cover-image .btn-upload-cover {
  position: absolute;
  right: 10px;
  top: 10px;
}

@media screen and (min-width: 768px) {
  .nursery-header .cover-image .btn-upload-cover,
  .public-nursery-header .cover-image .btn-upload-cover {
    right: 25px;
    top: 25px;
  }
}

.nursery-header .cover-image .btn-upload-cover label,
.public-nursery-header .cover-image .btn-upload-cover label {
  padding: 0.25em 0.5em;
  border-radius: 50%;
  font-size: 16px;
  cursor: pointer;
  color: #eee;
}

.nursery-header .cover-image .btn-upload-cover label:hover,
.public-nursery-header .cover-image .btn-upload-cover label:hover {
  opacity: 0.9;
}

.nursery-header .nursery-info,
.public-nursery-header .nursery-info {
  height: auto;
}

@media screen and (min-width: 768px) {
  .nursery-header .nursery-info,
  .public-nursery-header .nursery-info {
    height: 90px;
  }
}

.nursery-header .nursery-info .info .avatar,
.public-nursery-header .nursery-info .info .avatar {
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
  position: relative;
  cursor: pointer;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  width: 90px;
  height: 90px;
}

@media screen and (min-width: 768px) {
  .nursery-header .nursery-info .info .avatar,
  .public-nursery-header .nursery-info .info .avatar {
    -webkit-transform: translateY(-35%);
            transform: translateY(-35%);
  }
}

@media screen and (min-width: 992px) {
  .nursery-header .nursery-info .info .avatar,
  .public-nursery-header .nursery-info .info .avatar {
    -webkit-transform: translateY(-40%);
            transform: translateY(-40%);
  }
}

@media screen and (min-width: 768px) {
  .nursery-header .nursery-info .info .avatar,
  .public-nursery-header .nursery-info .info .avatar {
    width: 110px;
    height: 110px;
  }
}

@media screen and (min-width: 992px) {
  .nursery-header .nursery-info .info .avatar,
  .public-nursery-header .nursery-info .info .avatar {
    width: 140px;
    height: 140px;
  }
}

.nursery-header .nursery-info .info .avatar img,
.public-nursery-header .nursery-info .info .avatar img {
  width: 100%;
  height: 100%;
}

.nursery-header .nursery-info .info .avatar .btn-upload-avatar,
.public-nursery-header .nursery-info .info .avatar .btn-upload-avatar {
  position: absolute;
  right: -7px;
  bottom: 0px;
}

@media screen and (min-width: 768px) {
  .nursery-header .nursery-info .info .avatar .btn-upload-avatar,
  .public-nursery-header .nursery-info .info .avatar .btn-upload-avatar {
    right: 3px;
    bottom: 1px;
  }
}

@media screen and (min-width: 992px) {
  .nursery-header .nursery-info .info .avatar .btn-upload-avatar,
  .public-nursery-header .nursery-info .info .avatar .btn-upload-avatar {
    right: 0;
    bottom: 3px;
  }
}

.nursery-header .nursery-info .info .avatar .btn-upload-avatar label,
.public-nursery-header .nursery-info .info .avatar .btn-upload-avatar label {
  padding: 0.25em 0.5em;
  border-radius: 50%;
  font-size: 14px;
  cursor: pointer;
  color: #130101;
  background-color: #fff;
}

.nursery-header .nursery-info .info .avatar .btn-upload-avatar label:hover,
.public-nursery-header .nursery-info .info .avatar .btn-upload-avatar label:hover {
  opacity: 0.9;
}

.nursery-header .nursery-info .info .avatar:hover,
.public-nursery-header .nursery-info .info .avatar:hover {
  background-color: #656769 !important;
}

.nursery-header .nursery-info .info .nursery-name,
.public-nursery-header .nursery-info .info .nursery-name {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .nursery-header .nursery-info .info .nursery-name,
  .public-nursery-header .nursery-info .info .nursery-name {
    text-align: left;
  }
}

.nursery-header .nursery-info .info .option .dropdown-menu > div:hover,
.public-nursery-header .nursery-info .info .option .dropdown-menu > div:hover {
  background-color: #ddd;
}

.nursery-header .nursery-info .info .option .option-nav,
.public-nursery-header .nursery-info .info .option .option-nav {
  max-height: 39px;
  overflow: hidden;
}

@media screen and (min-width: 992px) {
  .nursery-header .nursery-info .info .option .option-nav,
  .public-nursery-header .nursery-info .info .option .option-nav {
    max-height: auto;
    overflow: visible;
  }
}

.nursery-main-content,
.nursery-side-nav {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.nursery-main-content .main-content .nav-tab {
  z-index: 2 !important;
  position: relative;
}

.nursery-main-content .main-content .nav-tab a {
  margin-bottom: -8px;
  border-radius: 0;
  color: #0d6efd;
  background-color: white;
}

.nursery-main-content .main-content .nav-tab .btn-to-input-container {
  position: relative;
  top: 8px;
}

.nursery-main-content .main-content .nav-tab .btn-to-input-container .btn-to-input[type="text"] {
  border-radius: 0;
  border: 1px solid #0dcaf0;
  margin: 0;
}

.nursery-main-content .main-content .nav-tab .btn-to-input-container button {
  border-radius: 0 !important;
}

.nursery-main-content .main-content .nav-tab a:hover {
  border: 1px solid #dee2e6;
  border-bottom: none;
}

.nursery-main-content .main-content .nav-tab .viewing {
  position: relative;
  top: 1px;
  color: #222222e6;
  border: 1px solid #dee2e6;
  border-bottom: none;
}

@media screen and (max-width: calc($large - 1px)) {
  .nursery-main-content {
    width: 100% !important;
  }
}

.nursery-collapse-side {
  position: absolute;
  top: 200px;
  right: -13px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  cursor: pointer;
}

.nursery-collapse-side .bar {
  width: 5px;
  height: 10px;
  background-color: #707171;
}

.nursery-collapse-side .bar1 {
  border-radius: 6px 6px 0 0;
}

.nursery-collapse-side .bar2 {
  border-radius: 0 0 6px 6px;
}

.nursery-collapse-side:hover .bar {
  background-color: #141414;
}

.close:hover .bar1 {
  -webkit-transform: rotate(15deg) translateY(1px);
          transform: rotate(15deg) translateY(1px);
}

.close:hover .bar2 {
  -webkit-transform: rotate(-15deg) translateY(-1px);
          transform: rotate(-15deg) translateY(-1px);
}

.open:hover .bar1 {
  -webkit-transform: rotate(-15deg) translateY(1px);
          transform: rotate(-15deg) translateY(1px);
}

.open:hover .bar2 {
  -webkit-transform: rotate(15deg) translateY(-1px);
          transform: rotate(15deg) translateY(-1px);
}

@-webkit-keyframes slideIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.template-container {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  z-index: 2000;
  color: white;
  background-color: rgba(34, 34, 34, 0.9);
  -webkit-animation: slideIn 1s ease-in-out;
          animation: slideIn 1s ease-in-out;
}

.template-container .close-template-container {
  position: absolute;
  height: 50px;
  width: 50px;
  right: 5px;
  top: 5px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 21px;
  border: 1px solid #f56e6e;
}

@media screen and (min-width: 768px) {
  .template-container .close-template-container {
    right: 15px;
    top: 15px;
  }
}

@media screen and (min-width: 992px) {
  .template-container .close-template-container {
    right: 20px;
    top: 20px;
  }
}

.template-container .close-template-container:hover {
  color: #f56e6e;
  border: 1px solid white;
}

.template-container .template {
  position: relative;
  min-height: 35vh;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  background-image: url("../img/choose_template.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.template-container .template p {
  font-size: 32px;
  color: #ccc;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 12px 16px;
  font-weight: 700;
}

.template-container .template:hover {
  border: 1px solid #dee2e6;
}

.template-container .template:hover .template-choose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(34, 34, 34, 0.9);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.template-container .template-header,
.template-container .template-half-width,
.template-container .template-four,
.template-container .template-half-right-two,
.template-container .template-half-left-two,
.template-container .template-half-left-four,
.template-container .template-half-right-four {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  padding: 5px;
  grid-gap: 2.5px;
}

.template-container .template-header .template-header-complete,
.template-container .template-header .template-half-left,
.template-container .template-header .template-half-right,
.template-container .template-header .template-first,
.template-container .template-header .template-second,
.template-container .template-header .template-third,
.template-container .template-header .template-fourth,
.template-container .template-header .template-half-right-two-first,
.template-container .template-header .template-half-right-two-second,
.template-container .template-header .template-half-left-two-first,
.template-container .template-header .template-half-left-two-second,
.template-container .template-header .template-half-left-four-first,
.template-container .template-header .template-half-left-four-second,
.template-container .template-header .template-half-right-four-first,
.template-container .template-header .template-half-right-four-second,
.template-container .template-half-width .template-header-complete,
.template-container .template-half-width .template-half-left,
.template-container .template-half-width .template-half-right,
.template-container .template-half-width .template-first,
.template-container .template-half-width .template-second,
.template-container .template-half-width .template-third,
.template-container .template-half-width .template-fourth,
.template-container .template-half-width .template-half-right-two-first,
.template-container .template-half-width .template-half-right-two-second,
.template-container .template-half-width .template-half-left-two-first,
.template-container .template-half-width .template-half-left-two-second,
.template-container .template-half-width .template-half-left-four-first,
.template-container .template-half-width .template-half-left-four-second,
.template-container .template-half-width .template-half-right-four-first,
.template-container .template-half-width .template-half-right-four-second,
.template-container .template-four .template-header-complete,
.template-container .template-four .template-half-left,
.template-container .template-four .template-half-right,
.template-container .template-four .template-first,
.template-container .template-four .template-second,
.template-container .template-four .template-third,
.template-container .template-four .template-fourth,
.template-container .template-four .template-half-right-two-first,
.template-container .template-four .template-half-right-two-second,
.template-container .template-four .template-half-left-two-first,
.template-container .template-four .template-half-left-two-second,
.template-container .template-four .template-half-left-four-first,
.template-container .template-four .template-half-left-four-second,
.template-container .template-four .template-half-right-four-first,
.template-container .template-four .template-half-right-four-second,
.template-container .template-half-right-two .template-header-complete,
.template-container .template-half-right-two .template-half-left,
.template-container .template-half-right-two .template-half-right,
.template-container .template-half-right-two .template-first,
.template-container .template-half-right-two .template-second,
.template-container .template-half-right-two .template-third,
.template-container .template-half-right-two .template-fourth,
.template-container .template-half-right-two .template-half-right-two-first,
.template-container .template-half-right-two .template-half-right-two-second,
.template-container .template-half-right-two .template-half-left-two-first,
.template-container .template-half-right-two .template-half-left-two-second,
.template-container .template-half-right-two .template-half-left-four-first,
.template-container .template-half-right-two .template-half-left-four-second,
.template-container .template-half-right-two .template-half-right-four-first,
.template-container .template-half-right-two .template-half-right-four-second,
.template-container .template-half-left-two .template-header-complete,
.template-container .template-half-left-two .template-half-left,
.template-container .template-half-left-two .template-half-right,
.template-container .template-half-left-two .template-first,
.template-container .template-half-left-two .template-second,
.template-container .template-half-left-two .template-third,
.template-container .template-half-left-two .template-fourth,
.template-container .template-half-left-two .template-half-right-two-first,
.template-container .template-half-left-two .template-half-right-two-second,
.template-container .template-half-left-two .template-half-left-two-first,
.template-container .template-half-left-two .template-half-left-two-second,
.template-container .template-half-left-two .template-half-left-four-first,
.template-container .template-half-left-two .template-half-left-four-second,
.template-container .template-half-left-two .template-half-right-four-first,
.template-container .template-half-left-two .template-half-right-four-second,
.template-container .template-half-left-four .template-header-complete,
.template-container .template-half-left-four .template-half-left,
.template-container .template-half-left-four .template-half-right,
.template-container .template-half-left-four .template-first,
.template-container .template-half-left-four .template-second,
.template-container .template-half-left-four .template-third,
.template-container .template-half-left-four .template-fourth,
.template-container .template-half-left-four .template-half-right-two-first,
.template-container .template-half-left-four .template-half-right-two-second,
.template-container .template-half-left-four .template-half-left-two-first,
.template-container .template-half-left-four .template-half-left-two-second,
.template-container .template-half-left-four .template-half-left-four-first,
.template-container .template-half-left-four .template-half-left-four-second,
.template-container .template-half-left-four .template-half-right-four-first,
.template-container .template-half-left-four .template-half-right-four-second,
.template-container .template-half-right-four .template-header-complete,
.template-container .template-half-right-four .template-half-left,
.template-container .template-half-right-four .template-half-right,
.template-container .template-half-right-four .template-first,
.template-container .template-half-right-four .template-second,
.template-container .template-half-right-four .template-third,
.template-container .template-half-right-four .template-fourth,
.template-container .template-half-right-four .template-half-right-two-first,
.template-container .template-half-right-four .template-half-right-two-second,
.template-container .template-half-right-four .template-half-left-two-first,
.template-container .template-half-right-four .template-half-left-two-second,
.template-container .template-half-right-four .template-half-left-four-first,
.template-container .template-half-right-four .template-half-left-four-second,
.template-container .template-half-right-four .template-half-right-four-first,
.template-container .template-half-right-four .template-half-right-four-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(157, 157, 157, 0.9);
}

.template-container .template-header .template-header-complete p,
.template-container .template-header .template-half-left p,
.template-container .template-header .template-half-right p,
.template-container .template-header .template-first p,
.template-container .template-header .template-second p,
.template-container .template-header .template-third p,
.template-container .template-header .template-fourth p,
.template-container .template-header .template-half-right-two-first p,
.template-container .template-header .template-half-right-two-second p,
.template-container .template-header .template-half-left-two-first p,
.template-container .template-header .template-half-left-two-second p,
.template-container .template-header .template-half-left-four-first p,
.template-container .template-header .template-half-left-four-second p,
.template-container .template-header .template-half-right-four-first p,
.template-container .template-header .template-half-right-four-second p,
.template-container .template-half-width .template-header-complete p,
.template-container .template-half-width .template-half-left p,
.template-container .template-half-width .template-half-right p,
.template-container .template-half-width .template-first p,
.template-container .template-half-width .template-second p,
.template-container .template-half-width .template-third p,
.template-container .template-half-width .template-fourth p,
.template-container .template-half-width .template-half-right-two-first p,
.template-container .template-half-width .template-half-right-two-second p,
.template-container .template-half-width .template-half-left-two-first p,
.template-container .template-half-width .template-half-left-two-second p,
.template-container .template-half-width .template-half-left-four-first p,
.template-container .template-half-width .template-half-left-four-second p,
.template-container .template-half-width .template-half-right-four-first p,
.template-container .template-half-width .template-half-right-four-second p,
.template-container .template-four .template-header-complete p,
.template-container .template-four .template-half-left p,
.template-container .template-four .template-half-right p,
.template-container .template-four .template-first p,
.template-container .template-four .template-second p,
.template-container .template-four .template-third p,
.template-container .template-four .template-fourth p,
.template-container .template-four .template-half-right-two-first p,
.template-container .template-four .template-half-right-two-second p,
.template-container .template-four .template-half-left-two-first p,
.template-container .template-four .template-half-left-two-second p,
.template-container .template-four .template-half-left-four-first p,
.template-container .template-four .template-half-left-four-second p,
.template-container .template-four .template-half-right-four-first p,
.template-container .template-four .template-half-right-four-second p,
.template-container .template-half-right-two .template-header-complete p,
.template-container .template-half-right-two .template-half-left p,
.template-container .template-half-right-two .template-half-right p,
.template-container .template-half-right-two .template-first p,
.template-container .template-half-right-two .template-second p,
.template-container .template-half-right-two .template-third p,
.template-container .template-half-right-two .template-fourth p,
.template-container .template-half-right-two .template-half-right-two-first p,
.template-container .template-half-right-two .template-half-right-two-second p,
.template-container .template-half-right-two .template-half-left-two-first p,
.template-container .template-half-right-two .template-half-left-two-second p,
.template-container .template-half-right-two .template-half-left-four-first p,
.template-container .template-half-right-two .template-half-left-four-second p,
.template-container .template-half-right-two .template-half-right-four-first p,
.template-container .template-half-right-two .template-half-right-four-second p,
.template-container .template-half-left-two .template-header-complete p,
.template-container .template-half-left-two .template-half-left p,
.template-container .template-half-left-two .template-half-right p,
.template-container .template-half-left-two .template-first p,
.template-container .template-half-left-two .template-second p,
.template-container .template-half-left-two .template-third p,
.template-container .template-half-left-two .template-fourth p,
.template-container .template-half-left-two .template-half-right-two-first p,
.template-container .template-half-left-two .template-half-right-two-second p,
.template-container .template-half-left-two .template-half-left-two-first p,
.template-container .template-half-left-two .template-half-left-two-second p,
.template-container .template-half-left-two .template-half-left-four-first p,
.template-container .template-half-left-two .template-half-left-four-second p,
.template-container .template-half-left-two .template-half-right-four-first p,
.template-container .template-half-left-two .template-half-right-four-second p,
.template-container .template-half-left-four .template-header-complete p,
.template-container .template-half-left-four .template-half-left p,
.template-container .template-half-left-four .template-half-right p,
.template-container .template-half-left-four .template-first p,
.template-container .template-half-left-four .template-second p,
.template-container .template-half-left-four .template-third p,
.template-container .template-half-left-four .template-fourth p,
.template-container .template-half-left-four .template-half-right-two-first p,
.template-container .template-half-left-four .template-half-right-two-second p,
.template-container .template-half-left-four .template-half-left-two-first p,
.template-container .template-half-left-four .template-half-left-two-second p,
.template-container .template-half-left-four .template-half-left-four-first p,
.template-container .template-half-left-four .template-half-left-four-second p,
.template-container .template-half-left-four .template-half-right-four-first p,
.template-container .template-half-left-four .template-half-right-four-second p,
.template-container .template-half-right-four .template-header-complete p,
.template-container .template-half-right-four .template-half-left p,
.template-container .template-half-right-four .template-half-right p,
.template-container .template-half-right-four .template-first p,
.template-container .template-half-right-four .template-second p,
.template-container .template-half-right-four .template-third p,
.template-container .template-half-right-four .template-fourth p,
.template-container .template-half-right-four .template-half-right-two-first p,
.template-container .template-half-right-four .template-half-right-two-second p,
.template-container .template-half-right-four .template-half-left-two-first p,
.template-container .template-half-right-four .template-half-left-two-second p,
.template-container .template-half-right-four .template-half-left-four-first p,
.template-container .template-half-right-four .template-half-left-four-second p,
.template-container .template-half-right-four .template-half-right-four-first p,
.template-container .template-half-right-four .template-half-right-four-second p {
  color: black;
}

.template-container .template-header .template-half-left,
.template-container .template-half-width .template-half-left,
.template-container .template-four .template-half-left,
.template-container .template-half-right-two .template-half-left,
.template-container .template-half-left-two .template-half-left,
.template-container .template-half-left-four .template-half-left,
.template-container .template-half-right-four .template-half-left {
  margin-right: 2.5px;
}

.template-container .template-header .template-half-right,
.template-container .template-half-width .template-half-right,
.template-container .template-four .template-half-right,
.template-container .template-half-right-two .template-half-right,
.template-container .template-half-left-two .template-half-right,
.template-container .template-half-left-four .template-half-right,
.template-container .template-half-right-four .template-half-right {
  margin-left: 2.5px;
}

@media screen and (min-width: 768px) {
  .template-container .template-header,
  .template-container .template-half-width,
  .template-container .template-four,
  .template-container .template-half-right-two,
  .template-container .template-half-left-two,
  .template-container .template-half-left-four,
  .template-container .template-half-right-four {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
}

.template-container .template-header {
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
}

.template-container .template-four {
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

@media screen and (min-width: 768px) {
  .template-container .template-four {
    -ms-grid-columns: auto auto auto auto;
        grid-template-columns: auto auto auto auto;
  }
}

.template-container .template-choose {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
}

.template-container .template-choose p {
  font-size: 32px;
  color: #ccc;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 12px 16px;
  font-weight: 700;
}

.template-in-use-container {
  font-size: 21px;
}

.template-in-use-container .template {
  min-height: 35vh;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

.template-in-use-container .template p {
  font-size: 20px;
  color: #ccc;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 12px 16px;
  font-weight: 700;
}

.template-in-use-container .template img {
  height: 100%;
  width: 100%;
}

.template-in-use-container .template .images-options {
  display: none;
  right: 15px;
  top: 10px;
}

.template-in-use-container .template .images-options span:hover {
  opacity: 0.9;
}

.template-in-use-container .template .hover-images:hover > .images-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.template-in-use-container .template:hover {
  border: 1px solid #dee2e6;
}

.template-in-use-container .template:hover .template-choose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.template-in-use-container .template-header,
.template-in-use-container .template-half-width,
.template-in-use-container .template-four,
.template-in-use-container .template-half-right-two,
.template-in-use-container .template-half-left-two {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  padding: 5px;
  grid-gap: 2.5px;
  background-color: rgba(157, 157, 157, 0.9);
}

.template-in-use-container .template-header .template-header-complete,
.template-in-use-container .template-header .template-half-left,
.template-in-use-container .template-header .template-half-right,
.template-in-use-container .template-header .template-first,
.template-in-use-container .template-header .template-second,
.template-in-use-container .template-header .template-third,
.template-in-use-container .template-header .template-fourth,
.template-in-use-container .template-header .template-half-right-two-first,
.template-in-use-container .template-header .template-half-right-two-second,
.template-in-use-container .template-header .template-half-left-two-first,
.template-in-use-container .template-header .template-half-left-two-second,
.template-in-use-container .template-half-width .template-header-complete,
.template-in-use-container .template-half-width .template-half-left,
.template-in-use-container .template-half-width .template-half-right,
.template-in-use-container .template-half-width .template-first,
.template-in-use-container .template-half-width .template-second,
.template-in-use-container .template-half-width .template-third,
.template-in-use-container .template-half-width .template-fourth,
.template-in-use-container .template-half-width .template-half-right-two-first,
.template-in-use-container .template-half-width .template-half-right-two-second,
.template-in-use-container .template-half-width .template-half-left-two-first,
.template-in-use-container .template-half-width .template-half-left-two-second,
.template-in-use-container .template-four .template-header-complete,
.template-in-use-container .template-four .template-half-left,
.template-in-use-container .template-four .template-half-right,
.template-in-use-container .template-four .template-first,
.template-in-use-container .template-four .template-second,
.template-in-use-container .template-four .template-third,
.template-in-use-container .template-four .template-fourth,
.template-in-use-container .template-four .template-half-right-two-first,
.template-in-use-container .template-four .template-half-right-two-second,
.template-in-use-container .template-four .template-half-left-two-first,
.template-in-use-container .template-four .template-half-left-two-second,
.template-in-use-container .template-half-right-two .template-header-complete,
.template-in-use-container .template-half-right-two .template-half-left,
.template-in-use-container .template-half-right-two .template-half-right,
.template-in-use-container .template-half-right-two .template-first,
.template-in-use-container .template-half-right-two .template-second,
.template-in-use-container .template-half-right-two .template-third,
.template-in-use-container .template-half-right-two .template-fourth,
.template-in-use-container .template-half-right-two .template-half-right-two-first,
.template-in-use-container .template-half-right-two .template-half-right-two-second,
.template-in-use-container .template-half-right-two .template-half-left-two-first,
.template-in-use-container .template-half-right-two .template-half-left-two-second,
.template-in-use-container .template-half-left-two .template-header-complete,
.template-in-use-container .template-half-left-two .template-half-left,
.template-in-use-container .template-half-left-two .template-half-right,
.template-in-use-container .template-half-left-two .template-first,
.template-in-use-container .template-half-left-two .template-second,
.template-in-use-container .template-half-left-two .template-third,
.template-in-use-container .template-half-left-two .template-fourth,
.template-in-use-container .template-half-left-two .template-half-right-two-first,
.template-in-use-container .template-half-left-two .template-half-right-two-second,
.template-in-use-container .template-half-left-two .template-half-left-two-first,
.template-in-use-container .template-half-left-two .template-half-left-two-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.template-in-use-container .template-header .template-header-complete p,
.template-in-use-container .template-header .template-half-left p,
.template-in-use-container .template-header .template-half-right p,
.template-in-use-container .template-header .template-first p,
.template-in-use-container .template-header .template-second p,
.template-in-use-container .template-header .template-third p,
.template-in-use-container .template-header .template-fourth p,
.template-in-use-container .template-header .template-half-right-two-first p,
.template-in-use-container .template-header .template-half-right-two-second p,
.template-in-use-container .template-header .template-half-left-two-first p,
.template-in-use-container .template-header .template-half-left-two-second p,
.template-in-use-container .template-half-width .template-header-complete p,
.template-in-use-container .template-half-width .template-half-left p,
.template-in-use-container .template-half-width .template-half-right p,
.template-in-use-container .template-half-width .template-first p,
.template-in-use-container .template-half-width .template-second p,
.template-in-use-container .template-half-width .template-third p,
.template-in-use-container .template-half-width .template-fourth p,
.template-in-use-container .template-half-width .template-half-right-two-first p,
.template-in-use-container .template-half-width .template-half-right-two-second p,
.template-in-use-container .template-half-width .template-half-left-two-first p,
.template-in-use-container .template-half-width .template-half-left-two-second p,
.template-in-use-container .template-four .template-header-complete p,
.template-in-use-container .template-four .template-half-left p,
.template-in-use-container .template-four .template-half-right p,
.template-in-use-container .template-four .template-first p,
.template-in-use-container .template-four .template-second p,
.template-in-use-container .template-four .template-third p,
.template-in-use-container .template-four .template-fourth p,
.template-in-use-container .template-four .template-half-right-two-first p,
.template-in-use-container .template-four .template-half-right-two-second p,
.template-in-use-container .template-four .template-half-left-two-first p,
.template-in-use-container .template-four .template-half-left-two-second p,
.template-in-use-container .template-half-right-two .template-header-complete p,
.template-in-use-container .template-half-right-two .template-half-left p,
.template-in-use-container .template-half-right-two .template-half-right p,
.template-in-use-container .template-half-right-two .template-first p,
.template-in-use-container .template-half-right-two .template-second p,
.template-in-use-container .template-half-right-two .template-third p,
.template-in-use-container .template-half-right-two .template-fourth p,
.template-in-use-container .template-half-right-two .template-half-right-two-first p,
.template-in-use-container .template-half-right-two .template-half-right-two-second p,
.template-in-use-container .template-half-right-two .template-half-left-two-first p,
.template-in-use-container .template-half-right-two .template-half-left-two-second p,
.template-in-use-container .template-half-left-two .template-header-complete p,
.template-in-use-container .template-half-left-two .template-half-left p,
.template-in-use-container .template-half-left-two .template-half-right p,
.template-in-use-container .template-half-left-two .template-first p,
.template-in-use-container .template-half-left-two .template-second p,
.template-in-use-container .template-half-left-two .template-third p,
.template-in-use-container .template-half-left-two .template-fourth p,
.template-in-use-container .template-half-left-two .template-half-right-two-first p,
.template-in-use-container .template-half-left-two .template-half-right-two-second p,
.template-in-use-container .template-half-left-two .template-half-left-two-first p,
.template-in-use-container .template-half-left-two .template-half-left-two-second p {
  color: black;
}

.template-in-use-container .template-header .template-half-left,
.template-in-use-container .template-half-width .template-half-left,
.template-in-use-container .template-four .template-half-left,
.template-in-use-container .template-half-right-two .template-half-left,
.template-in-use-container .template-half-left-two .template-half-left {
  margin-right: 2.5px;
}

.template-in-use-container .template-header .template-half-right,
.template-in-use-container .template-half-width .template-half-right,
.template-in-use-container .template-four .template-half-right,
.template-in-use-container .template-half-right-two .template-half-right,
.template-in-use-container .template-half-left-two .template-half-right {
  margin-left: 2.5px;
}

@media screen and (min-width: 768px) {
  .template-in-use-container .template-header,
  .template-in-use-container .template-half-width,
  .template-in-use-container .template-four,
  .template-in-use-container .template-half-right-two,
  .template-in-use-container .template-half-left-two {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
}

.template-in-use-container .template-images {
  background-color: transparent;
  min-height: auto;
}

.template-in-use-container .template-header {
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
}

.template-in-use-container .template-four {
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

@media screen and (min-width: 768px) {
  .template-in-use-container .template-four {
    -ms-grid-columns: auto auto auto auto;
        grid-template-columns: auto auto auto auto;
  }
}
/*# sourceMappingURL=Style.css.map */